@font-face {
  font-family: "circularStd";
  src: url("../fonts/CircularStd-Book.woff2") format(woff2),
    url("../fonts/CircularStd-Book.woff") format(woff);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "circularStd";
  src: url("../fonts/CircularStd-Bold.woff2") format(woff2),
    url("../fonts/CircularStd-Bold.woff") format(woff);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "circularStd";
  src: url("../fonts/CircularStd-Medium.woff2") format(woff2),
    url("../fonts/CircularStd-Medium.woff") format(woff);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "circularStd";
  src: url("../fonts/CircularStd-Black.woff2") format(woff2),
    url("../fonts/CircularStd-Black.woff") format(woff);
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
#title {
  font-size: 30px;
  color: aqua;
  font-family: "Montserrat Subrayada", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.article {
  font-size: 20px;
}
.paragraph {
  color: rgb(88, 14, 14);
  font-family: "Montserrat Subrayada", sans-serif;
}
span {
  color: greenyellow;
  font-family: "cirkularStd", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.paragraph.one {
  color: red;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-style: oblique;
}
.paragraph.two {
  color: orangered;
}
.paragraph.three {
  color: yellowgreen;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-style: italic;
}
.paragraph.four,
.paragraph.five {
  color: rgb(107, 107, 6);
  font-family: "cirkularStd", sans-serif;
  font-weight: 900;
}
.list {
  font-family: "circularStd", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}
.yellow {
  color: rgb(223, 191, 9);
  font-family: "Comfortaa", cursive;
  font-weight: 300;
  font-style: normal;
}
.orange {
  color: rgb(230, 113, 17);
  font-family: "Lobster", cursive;
  font-weight: 500;
  font-style: oblique;
}
.red {
  color: red;
}
.darkred {
  color: rgb(65, 4, 4);
  font-family: "Ubuntu Mono", monospace;
  font-weight: 500;
  font-style: normal;
}
.shadow {
  font-size: 30px;
  color: rgb(192, 14, 112);
  text-shadow: 1px -3px #000;
  font-family: "cirkularStd", sans-serif;
  font-weight: 900;
  font-style: normal;
}
